<div class="bg-red fg-white" data-role="appbar" data-expand-point="md">
  <a class="pl-2 no-hover">
    <img src="assets/logo.png" style="width: 40px;" /> QR Co3ds
  </a>

  <ul class="app-bar-menu ml-auto">
    <li class="no-hover pr-2">
      <input data-role="input" data-clear-button="false" data-search-button="true" [(ngModel)]="keyword" placeholder="Search.." style="width: 300px;" type="text" />
    </li>
  </ul>
</div>
<div class="p-2 pt-14">
  <div nz-row [nzGutter]="8">
    <div nz-col nzMd="8">
      <div class="card image-header">
        <div class="card-header fg-white" style="background-image: url(http://lorempixel.com/1000/600/)">
          Journey To Mountains
        </div>
        <div class="card-content p-2">
          <p class="fg-gray">Posted on January 21, 2015</p>
          Quisque eget vestibulum nulla. Quisque quis dui quis ex
          ultricies efficitur vitae non felis. Phasellus quis nibh
          hendrerit...
        </div>
        <div class="card-footer">
          <button class="button secondary">Read More</button>
        </div>
      </div>
    </div>
    <div nz-col nzMd="8">
      <div class="card image-header">
        <div class="card-header fg-white" style="background-image: url(http://lorempixel.com/1000/600/)">
          Journey To Mountains
        </div>
        <div class="card-content p-2">
          <p class="fg-gray">Posted on January 21, 2015</p>
          Quisque eget vestibulum nulla. Quisque quis dui quis ex
          ultricies efficitur vitae non felis. Phasellus quis nibh
          hendrerit...
        </div>
        <div class="card-footer">
          <button class="button secondary">Read More</button>
        </div>
      </div>
    </div>
    <div nz-col nzMd="8">
      <div class="card image-header">
        <div class="card-header fg-white" style="background-image: url(http://lorempixel.com/1000/600/)">
          Journey To Mountains
        </div>
        <div class="card-content p-2">
          <p class="fg-gray">Posted on January 21, 2015</p>
          Quisque eget vestibulum nulla. Quisque quis dui quis ex
          ultricies efficitur vitae non felis. Phasellus quis nibh
          hendrerit...
        </div>
        <div class="card-footer">
          <button class="button secondary">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>